div.wp-picker-container {
    vertical-align: middle;
}
.submit{
    padding:20px;
    margin:0;
}
a.wp-color-result {
    margin: 0;
}
.form-table td,Ã‚Â .form-table th {
    vertical-align: middle;
}

.form-table td, table.form-table th {
    vertical-align: middle;
    padding: 20px;
}
div.pootle-settings-page {
    padding:1px;
    border: 1px solid  #ccc;
    border-top: none;
    background: #fffafa;
}

a.nav-tab.nav-tab-active {
    background: #fffafa;
    border-bottom-color: #fffafa;
}

a.nav-tab {
    background: #efeaea;
}

h3 {
    padding: 16px;
    margin: 0;
    font-weight: normal;
    font-size: 1.6em;
}

table.form-table {
    margin: 0;
}