.settings_page_page_builder h3 {
    display: none
}

.button.pootle {
    position: relative;
    z-index: 10;
    background: #ef4832;
    border-color: #b32 !important;
    color: #fff;
    margin: 0 1px 5px 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .52), 0 1px 0 rgba(0, 0, 0, .25);
}

.button.pootle:hover {
    background: #e04025;
    color: #fff;
}

.ppb-badge {
    float: right;
    width: 160px;
    padding: 35px 0 35px;
    text-align: center;
    background: #ef4832;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.ppb-badge .dashicons {
    font-size: 7em;
    height: auto;
    width: auto;
    margin: 0 0 10px;
}

.ppb-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 40px;
}

.ppb-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}