.widget-dialog-wp_widget_Pootle_PB_Content_Block .editor_container {
    border: none;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block .editor_media_buttons {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block .mceLayout {
    clear: both;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block .mceLayout td {
    border: 1px solid #dedede;
    border-width: 0 1px 1px 1px;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block .mceLayout tr.mceFirst td {
    border-top-width: 1px;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block .mceLayout tr.mceLast td {
    background: #f5f5f5;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block p:first-of-type {
    margin-top: 0 !important;
}

.widget-dialog-wp_widget_Pootle_PB_Content_Block .editor_toggle_buttons a {
    margin-top: 5px !important;
}

